@font-face {
     font-family: Silk Serif;
     src: url("fonts/Silk\ Serif\ Regular.otf");
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

::selection {
  color: #f0f0f0;
  background: rgb(50, 103, 60);
}

.main__text {
     background-color: #030302;
     height: 100vh;
     display: flex;
     justify-content: center;
     
}
.heading__text {
     font-family: Silk Serif;
     font-size: 9em;
     font-weight: 200;
     text-align: center;
     position: relative;
     top: 12%;
     color: #760000;
}